#{$sMessageContainer} {
    padding: 10px 0 !important;
    border: 0 !important;
    min-height: 85px;
    #{$sMessage} {
        time {
            color: hsla(0, 0%, 100%, .4);
        }
        #{$sMessageHeader} {
            margin-left: 15px;
        }
        #{$sMessageContent} {
            padding: 1px 0;
            margin-left: 95px;
            padding-left: 10px;
            border-left: 3px solid rgba(255, 255, 255, 0.1);
        }
        margin: 0;
    }
    #{$sMessageDivider} {
        display: none;
    }
    border-bottom: 1px solid hsla(0, 0%, 100%, .04) !important;
}

#{$sLargeAvatar} {
    margin-top: 2px !important;
    height: 65px;
    width: 65px;
    background-size: cover;
    border-radius: 10px;
    box-sizing: border-box;
    border: 3px solid #969696 !important;
    box-shadow: 0 4px 0 rgb(94, 94, 94) !important;
    &[style*='a_'] {
        box-sizing: border-box;
        border: 3px solid #afa70e !important;
        box-shadow: 0 4px 0 #565b0d !important;
    }
}