.channels-wrap div[class^='contentHoveredText'],
.private-channels .channel:hover a {
    background: rgba(79, 84, 92, .7) !important;
}

.channels-wrap div[class^='unread'] {
    left: 8px;
}

.container-RYiLUQ,
.channels-3g2vYe,
.channels-wrap {
    background: rgba(0, 0, 0, 0.1) !important;
}

.theme-dark .title-qAcLxz {
    box-shadow: none !important;
}

.channels-wrap header,
.private-channels .search-bar,
.header-1tSljs {
    border: 0 !important;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.19), 0 0 6px 6px rgba(0, 0, 0, 0.23) !important;
    background: rgba(0, 0, 0, 0.1) !important;
}

.private-channels .search-bar-inner {
    border: 0 !important;
    background: transparent !important;
}

.private-channels,
.channels-Ie2l6A,
.channels-Ie2l6A>div {
    background: none !important;
}

.channels-Ie2l6A .channel:hover a {
    background: none !important;
}

.private-channels .search-bar input {
    background: rgba(255, 255, 255, 0.08) !important;
    border-radius: 4px;
}

.private-channels header {
    background: rgba(0, 0, 0, 0.3) !important;
    box-shadow: none !important;
}

.titleWrapper-1l0xT9>div {
    background: none !important;
}