// $sMessages: ".messages";
$sMessageWrapper: ".avatar-17mtNa";
$sMessages: ".messages-3amgkR";
$sMessagesWrapper: ".messages-wrapper";
$sMessageContainer: ".containerCozy-jafyvG";
$sMessage: ".messageCozy-2JPAPA";
$sMessageContent: ".contentCozy-3XX413";
$sMessageHeader: ".headerCozyMeta-rdohGq";
$sMessageOuterHeader: ".headerCozy-2N9HOL";
$sMessageMarkup: ".markup-2BOw-j";
$sMessageDivider: ".divider-32i8lo";
$sLargeAvatar: ".image-33JSyf.large-3ChYtB";
$sScrollerWrap: ".scroller-wrap";
// $sScrollerWrap: ".scrollerWrap-1IAIlv";
$sGuildsWrapper: ".guildsWrapper-5TJh6A";
$sGuildsGuilds: ".guilds-1q_RqH";
$sGuildsDms: ".dms-rcsEnV";
$sGuildsGuild: ".guild-1EfMGQ";
$sGuildsFriendsOnline: ".friendsOnline-_wi_fM";
$sGuildsSeparator: ".guildSeparator-1X4GQ1";
$sGuildsUnread: ".unread-qLkInr";
$sGuildsSelected: ".selected-ML3OIq";
$sMembersWrap: ".membersWrap-2h-GB4";
$sMembersGroup: ".membersGroup-v9BXpm";
$sMembersMembers: ".members-1998pB";
$sMembersMember: ".member-3W1lQa";
$sMembersMemberInner: ".memberInner-2CPc3V";
// $sChat: ".chat";
$sChat: ".chat-3bRxxu";
// $sContent: ".content";
$sContent: ".content-yTz4x3";
// $sDivider: ".divider";
$sDivider: ".divider-3gKybi";
// $sDividerRed: ".divider-red";
$sDividerRed: ".dividerRed-MKoLlr"